aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
colorama
discord.py
frozenlist
GitPython
idna
jsonschema
jsonschema-specifications
multidict
propcache
psutil
PyGithub
pyrsistent
python-dotenv
referencing
rpds-py
sentry-sdk
urllib3
yarl